NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_DRIVE_CLIENT_EMAIL=
GOOGLE_DRIVE_PRIVATE_KEY=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_DRIVE_SHARED_DRIVE_ID=
GOOGLE_SHEETS_ID=1OxrxKBKNTRb3vMBPA-91i-E1KIGB52RTZ31si2OaKz0
GOOGLE_SHEETS_GID=0
GOOGLE_SHEETS_TAB_NAME=ชีต1
SYNC_WEBHOOK_SECRET=
NEXT_PUBLIC_APP_NAME=ระบบขอที่จอดรถ
NEXT_PUBLIC_AUTH_EMAIL_DOMAIN=nacc.local
NEXT_PUBLIC_ADMIN_APP_URL=http://localhost:3000
NEXT_PUBLIC_USER_APP_URL=http://localhost:3001
